/* screen - desktop-1 */

/* .desktop-1 {
  align-items: flex-start;
  background-color: var(--gray900);
  display: flex;
  min-width: 1440px;
} */

.desktop-1 .overlap-group1 {
  height: 900px;
  position: relative;
  width: 1440px;
}

.desktop-1 .main {
  align-items: flex-start;
  background-color: var(--coconut);
  display: flex;
  flex-direction: column;
  gap: 69px;
  left: 280px;
  min-height: 900px;
  overflow-y: scroll;
  padding: 110px 0 0 280px;
  position: absolute;
  top: 0;
  width: 1160px;
}
/* 
.desktop-1 .text-6 {
  height: 38px;
  letter-spacing: 0;
  line-height: 38px;
  margin-left: 32px;
  min-width: 112px;
  white-space: nowrap;
} */

.desktop-1 .container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 0px 32px;
  position: relative;
}

.desktop-1 .actions {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  /* justify-content: space-between; */
  position: relative;
  width: 100%;
  margin-top: 44px;
}

.desktop-1 .button-group {
  align-items: flex-start;
  border: 1px solid;
  border-color: var(--mischka);
  box-shadow: 0px 1px 2px #1018280d;
  display: inline-flex;
  flex: 0 0 auto;
  position: relative;
}

.desktop-1 .button-group-base {
  align-items: center;
  background-color: var(--gray50);
  border-color: var(--mischka);
  border-right-style: solid;
  border-right-width: 1px;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 8px;
  justify-content: center;
  margin-bottom: -1.00px;
  margin-left: -1.00px;
  margin-top: -1.00px;
  padding: 10px 16px;
  position: relative;
  z-index: 1;
}

.desktop-1 .text-7 {
  color: var(--gray800);
  font-weight: 600;
  line-height: 20px;
  margin-top: -0.50px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.desktop-1 .button-group-base-1 {
  align-items: center;
  background-color: var(--basewhite);
  border-color: var(--mischka);
  border-right-style: solid;
  border-right-width: 1px;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 8px;
  justify-content: center;
  margin-bottom: -1.00px;
  margin-top: -1.00px;
  padding: 10px 16px;
  position: relative;
  z-index: 0;
}

.desktop-1 .text-8 {
  color: var(--gray700);
  font-weight: 600;
  line-height: 20px;
  margin-top: -0.50px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.desktop-1 .button {
  align-items: center;
  background-color: var(--basewhite);
  border: 1px solid;
  border-color: var(--mischka);
  border-radius: 8px;
  box-shadow: 0px 1px 2px #1018280d;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 8px;
  justify-content: center;
  overflow: hidden;
  padding: 10px 16px;
  position: relative;
}

.desktop-1 .filter-lines {
  height: 20px;
  position: relative;
  width: 20px;
}

.desktop-1 .text {
  color: var(--gray700);
  font-weight: 600;
  line-height: 20px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
  width: 280px;
}

.desktop-1 .table {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--basewhite);
  border: 1px solid;
  border-color: var(--gray200);
  border-radius: 12px;
  box-shadow: 0px 1px 2px #1018280f , 0px 1px 3px #1018281a;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.desktop-1 .content-1 {
  background-color: var(--basewhite);
  flex: 0 0 auto;
  width: 100%;
}

.desktop-1 .column {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 135px;
}

.content-1 a {
  width: 100%;
}

.desktop-1 .table-header-cell {
  align-items: center;
  align-self: stretch;
  background-color: var(--basewhite);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: var(--gray200);
  display: flex;
  gap: 12px;
  height: 44px;
  padding: 12px 24px;
  position: relative;
  width: 100%;
}

.desktop-1 .table-header {
  display: inline-flex;
  flex: 0 0 auto;
  gap: 4px;
}

.desktop-1 .text-1 {
  color: var(--fiord);
  font-weight: 500;
  line-height: 18px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
  height: 18px;
  margin:0;
}

.desktop-1 h1 {
  margin-left: 32px !important;
}

.desktop-1 .table-cell {
  align-self: stretch;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: var(--gray200);
  display: flex;
  height: 72px;
  padding: 16px 24px;
  width: 100%;
}

.desktop-1 .text-2 {
  letter-spacing: 0;
  line-height: 20px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
  font-size: 14px;
  line-height: 72px;
}

.desktop-1 .column-1 {
  display: flex;
  flex: 1;
  flex-grow: 1;
}

.desktop-1 .table-cell-2 {
  cursor: pointer;
}

.desktop-1 .text-and-supporting-text {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 16px;
  position: relative;
}

.desktop-1 .text-3 {
  letter-spacing: 0;
  line-height: 20px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
  color: var(--gray900);
  font-weight: 400;
  width: 760px;
overflow-y: hidden;
text-overflow: ellipsis;
white-space: nowrap;
font-size: 14px;
}

.desktop-1 .text-and-supporting-text-4 {
  margin-right: -18.00px;
}

.desktop-1 .column-2 {
  display: inline-flex;
  flex: 0 0 auto;
}

.desktop-1 .badge {
  align-items: center;
  background-color: var(--wild-sand);
  border-radius: 16px;
  display: inline-flex;
  flex: 0 0 auto;
  mix-blend-mode: multiply;
  padding: 2px 10px;
  position: relative;
}

.desktop-1 .text-4 {
  color: var(--oxford-blue);
  font-weight: 500;
  line-height: 20px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
  font-size: 14px;
}

.desktop-1 .column-3 {
  display: inline-flex;
  flex: 0 0 auto;
}

.desktop-1 .frame-39876 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 6px;
  position: relative;
}

.desktop-1 .frame-39904 {
  height: 12.07px;
  position: relative;
  width: 24px;
}

.desktop-1 .eurlex {
  height: 16px;
  position: relative;
  width: 16px;
}

.desktop-1 .text-9 {
  cursor: pointer;
  letter-spacing: 0;
  line-height: 20px;
  margin-top: -1.00px;
  position: relative;
  width: 76px;
}

.desktop-1 .favicon-1-1 {
  height: 16px;
  object-fit: cover;
  position: relative;
  width: 16px;
}

.desktop-1 .eurlex-1 {
  height: 16px;
  position: relative;
  width: 16px;
}

.desktop-1 .the-latest-updates-o {
  left: 312px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 153px;
  width: 1076px;
}

.desktop-1 .content-2 {
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
}

.desktop-1 .button-1 {
  background-color: var(--basewhite);
  border: 1px solid;
  border-color: var(--mischka);
  box-shadow: 0px 1px 2px #1018280d;
  height: 40px;
  position: relative;
  width: 248px;
}

.desktop-1 .image-66 {
  background-color: var(--fuchsia-blue);
  border-radius: 50px;
  height: 20px;
  opacity: 0.5;
  width: 20px;
}

.desktop-1 .text-10 {
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.desktop-1 .flex-col {
  flex-direction: column;
  min-height: 408px;
}

.desktop-1 .frame-39896 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 4px;
  position: relative;
  width: 248px;
}

.desktop-1 .nav-item-base {
  align-items: flex-end;
  border-radius: 6px;
  display: flex;
  height: 48px;
  overflow: hidden;
  padding: 5.2px 12px;
  width: 248px;
}

.desktop-1 .content {
  align-items: center;
  display: flex;
  flex: 1;
  flex-grow: 1;
  gap: 12px;
  position: relative;
}

.desktop-1 .text-5 {
  letter-spacing: 0.56px;
  line-height: 24px;
  min-width: 96px;
  position: relative;
  white-space: nowrap;
}

.desktop-1 .nav-item-base-3 {
  align-items: center;
  align-self: stretch;
  background-color: var(--desert-storm);
  cursor: pointer;
  gap: 8px;
  height: 40px;
  padding: 8px 12px;
  position: relative;
  width: 100%;
}

/* .desktop-1 .nav-item-base-1 {
  align-items: flex-end;
  height: 48px;
  padding: 5.2px 12px;
  width: 248px;
} */

.desktop-1 .text-11 {
  letter-spacing: 0.56px;
  line-height: 24px;
  min-width: 96px;
  position: relative;
  white-space: nowrap;
}

.desktop-1 .nav-item-base-2 {
  align-items: center;
  background-color: var(--basewhite);
  gap: 8px;
  padding: 8px 12px;
  position: relative;
  width: 248px;
}

.desktop-1 .scales-02 {
  height: 24px;
  position: relative;
  width: 24px;
}

.desktop-1 .cube-01 {
  height: 24px;
  position: relative;
  width: 24px;
}

.desktop-1 .beaker-01 {
  height: 24px;
  position: relative;
  width: 24px;
}

.desktop-1 .text-12 {
  letter-spacing: 0.56px;
  line-height: 24px;
  min-width: 64px;
  position: relative;
  white-space: nowrap;
}

.desktop-1 .overlap-group {
  align-items: center;
  background-color: var(--blue-light100);
  border-radius: 20px;
  display: flex;
  height: 40px;
  min-width: 40px;
  padding: 0 9px;
}

.desktop-1 .text-13 {
  color: var(--blue-light900);
  font-weight: 500;
  height: 20px;
  line-height: 20px;
  text-align: center;
  width: 22px;
}

.desktop-1 .text-14 {
  color: var(--mirage);
  font-weight: 600;
  line-height: 20px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.desktop-1 .button-2 {
  align-items: center;
  display: inline-flex;
  gap: 8px;
  justify-content: center;
  left: 212px;
  padding: 8px;
  position: absolute;
  top: 24px;
}

.desktop-1 .group-39826 {
  align-items: flex-start;
  background-color: var(--basewhite);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: var(--iron);
  display: flex;
  gap: 1133px;
  height: 80px;
  left: 0;
  min-width: 1440px;
  padding: 19px 24px;
  position: fixed;
  top: 0;
}

.desktop-1 .group-39805 {
  align-self: center;
  height: 30px;
  position: relative;
  width: 122px;
}

.desktop-1 .flex-col-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 4px;
  min-height: 9px;
  width: 15px;
}

.desktop-1 .rectangle-1 {
  border-radius: 8.09px;
  margin-left: 0;
  width: 15px;
}

.desktop-1 .flex-row {
  min-width: 15px;
}

.desktop-1 .rectangle-2 {
  border-radius: 8.09px;
  width: 9px;
}

.desktop-1 .rectangle-6 {
  border-radius: 10.79px;
  width: 2px;
}

.desktop-1 .button-3 {
  align-items: center;
  background-color: var(--basewhite);
  border: 1px solid;
  border-color: var(--mischka);
  box-shadow: 0px 1px 2px #1018280d;
  display: inline-flex;
  gap: 8px;
  justify-content: center;
  padding: 10px 16px;
  position: relative;
}

.desktop-1 .star-06 {
  height: 20px;
  position: relative;
  width: 20px;
}

.desktop-1 .button-4 {
  border-radius: 8px;
  overflow: hidden;
}

.desktop-1 .column-4 {
  align-items: flex-start;
  flex-direction: column;
  position: relative;
}

.desktop-1 .content-3 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  position: relative;
  flex-direction: initial;
}

.desktop-1 .flex {
  align-items: flex-start;
  display: flex;
  gap: 4px;
}

.desktop-1 .nav-item-base-4 {
  border-radius: 6px;
  display: flex;
  overflow: hidden;
}

.desktop-1 .table-1 {
  align-items: center;
  position: relative;
}

.desktop-1 .table-cell-3 {
  align-items: center;
  align-self: stretch;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: var(--gray200);
  display: flex;
  gap: 12px;
  height: 72px;
  padding: 16px 14px;
  position: relative;
  width: 100%;
}

.desktop-1 .text-and-supporting-text-17 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
}
