<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Foresight</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="https://animaproject.s3.amazonaws.com/home/favicon.png" />
    <meta name="og:type" content="website" />
    <meta name="twitter:card" content="photo" />
    <link rel="stylesheet" type="text/css" href="css/frame-39885.css" />
    <link rel="stylesheet" type="text/css" href="css/styleguide.css" />
    <link rel="stylesheet" type="text/css" href="css/globals.css" />
  </head>
  <body style="margin: 0">
    <input type="hidden" id="anPageName" name="page" value="frame-39885" />
    <div class="container-center-horizontal">
      <div class="frame-39885 screen">

        <div class="group-39826">
          <a href="index.html" class="group-39805">
            <div class="group-21">
              <div class="flex-col-2 flex-col-3">
                <div class="rectangle-1 rectangle-3"></div>
                <div class="flex-row flex">
                  <div class="rectangle-2 rectangle-3"></div>
                  <div class="rectangle-6 rectangle-3"></div>
                </div>
              </div>
              <div class="flex-row flex">
                <div class="rectangle"></div>
                <div class="rectangle"></div>
                <div class="rectangle"></div>
              </div>
            </div>
            <img class="foresight" src="img/foresight-3.svg" alt="foresight">
          </a>
        </div>


        <div class="onboarding-center">        
          <div class="split left">
            <div class="centered">

              <div class="flex-col">
                <h1 class="text valign-text-middle inter-normal-mirage-36px">
                  <span
                    ><span class="span inter-normal-mirage-36px">We found </span
                    ><span class="span inter-bold-mirage-36px">55</span
                    ><span class="span inter-normal-mirage-36px"> products and </span
                    ><span class="span inter-bold-mirage-36px">110</span
                    ><span class="span inter-normal-mirage-36px"> substances in your data</span>
                  </span>
                </h1>
                <p class="description inter-normal-fiord-16px-2">
                  These products and substances are now being monitored for regulatory changes.
                </p>
                <a href="6.html">
                  <div class="group-39868">
                    <div class="button">
                      <div class="text-1 text-mdsemibold">Explore markets</div>
                      <img class="arrow-narrow-right" src="img/arrow-narrow-right.svg" alt="arrow-narrow-right" />
                    </div></div
                ></a>
              </div>

            </div>
          </div>


          <div class="split right">
            <div class="centered badge-group">
              <img src="img/products-substances.png" width="600">
            </div>
          </div>

        </div>

        </div>

      </div>
    </div>
  </body>
</html>
