<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Foresight</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="https://animaproject.s3.amazonaws.com/home/favicon.png" />
    <meta name="og:type" content="website" />
    <meta name="twitter:card" content="photo" />
    <link rel="stylesheet" type="text/css" href="css/frame-39887.css" />
    <link rel="stylesheet" type="text/css" href="css/styleguide.css" />
    <link rel="stylesheet" type="text/css" href="css/globals.css" />
  </head>
  <body style="margin: 0">
    <input type="hidden" id="anPageName" name="page" value="frame-39887" />
    <div class="container-center-horizontal">
      <div class="frame-39887 screen">

        <div class="group-39826">
          <a href="index.html" class="group-39805">
            <div class="group-21">
              <div class="flex-col-2 flex-col-3">
                <div class="rectangle-1 rectangle-3"></div>
                <div class="flex-row flex">
                  <div class="rectangle-2 rectangle-3"></div>
                  <div class="rectangle-6 rectangle-3"></div>
                </div>
              </div>
              <div class="flex-row flex">
                <div class="rectangle"></div>
                <div class="rectangle"></div>
                <div class="rectangle"></div>
              </div>
            </div>
            <img class="foresight" src="img/foresight-3.svg" alt="foresight">
          </a>
        </div>

        <div class="onboarding-center">


          <div class="split left">
            <div class="centered">

              <img src="img/Ripple@1x-1.0s-200px-200px.svg" width="120" style="margin-left:40px;">

              <h1 class="text valign-text-middle inter-normal-mirage-36px">
                <span
                  ><span class="span inter-normal-mirage-36px">Sifting through </span
                  ><span class="span inter-bold-mirage-36px">1,183 </span
                  ><span class="span inter-normal-mirage-36px">sources…</span>
                </span>
              </h1>
            </div>
          </div>


          <div class="split right">
            <div class="centered badge-group">
              <img src="img/loading-screen.png" width="600">
            </div>
          </div>


        </div>

      </div>
    </div>

    <script>
      // Wait a moment after the page loads, then start the animation
      window.onload = function() {
        // Redirect to 5.html after the animations complete
        setTimeout(() => {
          window.location.href = '9.html';
        }, 4000); // 4 seconds delay to ensure the animations complete before redirecting
      };
    </script>

  </body>
</html>
