<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Foresight</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="https://animaproject.s3.amazonaws.com/home/favicon.png" />
    <meta name="og:type" content="website" />
    <meta name="twitter:card" content="photo" />
    <link rel="stylesheet" type="text/css" href="css/frame-39888.css" />
    <link rel="stylesheet" type="text/css" href="css/styleguide.css" />
    <link rel="stylesheet" type="text/css" href="css/globals.css" />
  </head>
  <body style="margin: 0">
    <input type="hidden" id="anPageName" name="page" value="frame-39888" />
    <div class="container-center-horizontal">
      <div class="frame-39888 screen">

        <div class="group-39826">
          <a href="index.html" class="group-39805">
            <div class="group-21">
              <div class="flex-col-2 flex-col-3">
                <div class="rectangle-1 rectangle-3"></div>
                <div class="flex-row flex">
                  <div class="rectangle-2 rectangle-3"></div>
                  <div class="rectangle-6 rectangle-3"></div>
                </div>
              </div>
              <div class="flex-row flex">
                <div class="rectangle"></div>
                <div class="rectangle"></div>
                <div class="rectangle"></div>
              </div>
            </div>
            <img class="foresight" src="img/foresight-3.svg" alt="foresight">
          </a>
        </div>

        <div class="onboarding-center">


          <div class="split left">
            <div class="centered">

              <a href="7.html">
                <img class="arrow-narrow-left" src="img/arrow-narrow-left.svg" alt="arrow-narrow-left" />
              </a>

              <div class="group-39895 group">
                <h1 class="text-2 inter-normal-mirage-36px">
                  <span class="span inter-normal-mirage-36px">We've subscribed you to </span
                  ><span class="span inter-bold-mirage-36px">103</span
                  ><span class="span inter-normal-mirage-36px"> sources based on your product data</span>
                </h1>
                <p class="based-on-global-legi inter-normal-fiord-16px-2">
                  You can change your sources this later.
                </p>

                <a href="10.html">
                  <div class="group-39869 group">
                    <div class="button">
                      <div class="text-3 text-mdsemibold">Explore sources</div>
                      <img class="arrow-narrow-right" src="img/arrow-narrow-right.svg" alt="arrow-narrow-right" />
                    </div></div></a
                >
              </div>
            </div>
          </div>
          

          <div class="split right">
            <div class="centered badge-group">
              <img src="img/sources-image.png" width="600">
            </div>
          </div>


          <!-- <div class="split right">
            <div class="centered badge-group">
              <div class="right-section overlap-group overlap">
                <div class="badge single-badge">
                  <div class="text text-smmedium">ECHA</div>
                  <img class="check" src="img/check-2.svg" alt="check" />
                </div>
                <div class="badge-1 badge-12 single-badge">
                  <div class="text text-smmedium">European Commission</div>
                  <img class="check-7" src="img/check-2.svg" alt="check" />
                </div>
                <div class="badge-2 badge-12 single-badge">
                  <div class="text text-smmedium">HSE</div>
                  <img class="check-7" src="img/check-2.svg" alt="check" />
                </div>
                <div class="badge-8 badge-12 single-badge">
                  <div class="text text-smmedium">EEA</div>
                  <img class="check-7" src="img/check-2.svg" alt="check" />
                </div>
                <div class="badge-9 badge-12 single-badge">
                  <div class="text text-smmedium">CEFIC</div>
                  <img class="check-7" src="img/check-2.svg" alt="check" />
                </div>
                <div class="badge-3 badge-12 single-badge">
                  <div class="text text-smmedium">CHEM Trust</div>
                  <img class="plus" src="img/plus.svg" alt="plus" />
                </div>
                <div class="badge-4 badge-12 single-badge">
                  <div class="text-1 text-smmedium">EUROTOX</div>
                  <img class="plus-5" src="img/plus-3.svg" alt="plus" />
                </div>
                <div class="badge-5 badge-12 single-badge">
                  <div class="text-1 text-smmedium">EurEau</div>
                  <img class="plus-5" src="img/plus-3.svg" alt="plus" />
                </div>
                <div class="badge-6 badge-12 single-badge">
                  <div class="text-1 text-smmedium">European Chemicals Network</div>
                  <img class="plus-5" src="img/plus-3.svg" alt="plus" />
                </div>
                <div class="and-300-more inter-normal-fiord-14px">and 1,000+ more</div>
              </div>
            </div>
          </div> -->

        </div>


      </div>
    </div>
  </body>
</html>
